<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>BaseURL</key>
        <string>http://192.168.101.142:8443/api</string>
        <key>ClientID</key>
        <string>eaddf34b-a543-4ac1-80e5-1318ab7ecc33</string>
        <key>ClientSecret</key>
        <string>6Ve8oWPdzxqyfdVumA9wGh-fxA1OnCic6l8JbEJytKE</string>
    </dict>
</plist>
