<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>default</key>
        <dict>
			<key>BaseURL</key>
			<string>mmx://:5222</string>
			<key>Domain</key>
			<string>mmx</string>
			<key>AppId</key>
			<string>Invalid</string>
			<key>ApiKey</key>
			<string></string>
			<key>AnonymousSecret</key>
			<string></string>
			<key>ShouldForceTLS</key>
            <true/>
            <key>AllowInvalidCertificates</key>
            <true/>
        </dict>
    </dict>
</plist>
