<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://Jason-MacBook-Pro.local:8443/api</string>
	<key>ClientID</key>
	<string>4f5568a2-f08f-4da6-802f-cb68d1186e5e</string>
	<key>ClientSecret</key>
	<string>EeaeJ8LjNdNcosm1iN3NrYlSy0eBPtdYQoN7uwzu534</string>
</dict>
</plist>
