<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BaseURL</key>
    <string>https://sandy.magnet.com/mobile/api</string>
    <key>ClientID</key>
    <string>b8b7c0ad-351f-4b44-ba0c-11a2a28fbd99</string>
    <key>ClientSecret</key>
    <string>_s2vvTJJOl_96i3p5gno7LPg_Rhsrn4kOkDm7QQbWuU</string>
</dict>
</plist>

