<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://estee-mac-stage-mms.magnet.com:8443/api</string>
	<key>ClientID</key>
	<string>bfb45779-c1a8-4e7a-80dc-756be9040a5e</string>
	<key>ClientSecret</key>
	<string>xovuL_8_HGaLI9d2SlMexj6ZBwWgyv5QjHqMwjQO_Bk</string>
</dict>
</plist>
