<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BaseURL</key>
    <string>http://10.0.0.13:8443/api</string>
    <key>ClientID</key>
    <string>f8b06eea-2d99-48e9-87a3-be7a6bc26c65</string>
    <key>ClientSecret</key>
    <string>wLbzMVulG7JTPA7axXdHMypcw8f8ygCmMjgpxrkuLwY</string>
</dict>
</plist>
