<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://qasandy.magnet.com/mobile/api</string>
	<key>ClientID</key>
	<string>a2d02af0-594d-4361-920d-29cfef98f758</string>
	<key>ClientSecret</key>
	<string>T9qUUF-SbB-X7WRQjpioNNUJsECz66djRcAAItrCZ1Q</string>
</dict>
</plist>
