<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://10.0.0.190:8443/api</string>
	<key>ClientID</key>
	<string>0a7cba64-bc70-483a-982e-72339488844f</string>
	<key>ClientSecret</key>
	<string>teJDLxQxOd8gv2-eDGIi85RNvm0Renkjvg2dsvP_eYM</string>
</dict>
</plist>
