<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://Jason-MacBook-Pro.local:8443/api</string>
	<key>ClientID</key>
	<string>416e5bca-ce10-4336-83a4-19d2d456026c</string>
	<key>ClientSecret</key>
	<string>GYorjb_PRONuJ05I5nUxcAPl2ZDSqanfwZ-YdfvOcQQ</string>
</dict>
</plist>
