<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://Jason-MacBook-Pro.local:8443/api</string>
	<key>ClientID</key>
	<string>9fedf7b0-1813-47fb-95d0-718b79ba997f</string>
	<key>ClientSecret</key>
	<string>iDC21KUij75pHKRwJ_k5CRLwPkbmYPaco6BD9ddFKfM</string>
</dict>
</plist>
