#
# Magnet Generated project suggested .gitignore file
# Remove, update or add entries as needed.
#

# Java
*.ear
*.war
*.class

#Android
*.apk
*.ap_
local.properties
*.dex

#IntelliJ IDEA
*.iws
*.ipr
*.iml
.idea/
tmp/


# OS X , Xcode, Objective C
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.xcworkspace
xcuserdata
.DS_Store
*.DS_Store

# Eclipse
.project
.metadata
.classpath
.settings/
.launch
.externalToolBuilders/

# Maven
target/

# Gradle
.gradle

# Misc
*.out
*~
*.lock
*.tmp
*.bak
*.swp
*~.nib
magnet_log.*
_

