<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://localhost:8443/api</string>
	<key>ClientID</key>
	<string>3952ec7e-e3a1-4233-a222-468cde01017c</string>
	<key>ClientSecret</key>
	<string>rwYCbAx6SG4nv3biksBDYiVmLfqPLcgZyA801ZPPdxI</string>
</dict>
</plist>
