<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://192.168.1.116:8443/api</string>
	<key>ClientID</key>
	<string>b4e83cc8-f541-4bd2-8f43-34734cc59009</string>
	<key>ClientSecret</key>
	<string>YmMud1ZrxH8VhoCJc0nvOrZXRXwM-sTek6km3_u89O0</string>
</dict>
</plist>
