<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://sandbox.magnet.com/mobile/api</string>
	<key>ClientID</key>
	<string>4d17362b-e0e3-491a-a3d7-c48140a671b8</string>
	<key>ClientSecret</key>
	<string>99pDzL5MVuYMquaplHuxtjmLqy28zFdjmqs2opkZ654</string>
</dict>
</plist>
